<div class="vehicle-wrap">

    <div class="vehicle-card p-3">
        <h3 class="title mb-3">Add New Vehicle</h3>
        <form #vehicleForm="ngForm"
              (ngSubmit)="addVehicle(vehicleForm)">
            <div class="input-prepend mb-2">
                <input type="text"
                       placeholder="Licence"
                       name="licence"
                       [class.has-error]="findHasError(vehicleForm,'licence')"
                       [(ngModel)]="vehicle.licence"
                       required>
            </div>
            <div class="input-prepend mb-2">
                <input type="text"
                       placeholder="Model"
                       name="model"
                       [class.has-error]="findHasError(vehicleForm,'model')"
                       [(ngModel)]="vehicle.model"
                       required>
            </div>
            <div class="input-prepend mb-2">
                <select [(ngModel)]="vehicle.type"
                        name="vehicleType"
                        [class.has-error]="findHasError(vehicleForm,'vehicleType')"
                        placeholder="Select vehicle type"
                        required>
                    <option [value]="undefined"
                            selected
                            disabled>Select vehicle type</option>
                    <option value="1">2 Wheeler</option>
                    <option value="2">4 Wheeler</option>
                </select>
            </div>
            <div class="input-prepend mb-2">
                <input type="text"
                       placeholder="color"
                       name="color"
                       [class.has-error]="findHasError(vehicleForm,'color')"
                       [(ngModel)]="vehicle.color"
                       required>
            </div>
            <div class="input-prepend mb-2">
                <input type="number"
                       placeholder="Weight in kg"
                       name="weight"
                       [class.has-error]="findHasError(vehicleForm,'weight')"
                       [(ngModel)]="vehicle.weight"
                       required>
            </div>
            <button type="submit">Add Vehicle</button>
        </form>

    </div>

</div>

<app-menu></app-menu>


<!-- 


<div *ngFor="let vehicle of vehicles;index as i"
     (click)="selectVehicle(i)"
     class="vehicle-card mb-2 selected"
     [class.selected]="selectedVehicle==i">
    <h6 class="text-secondary mb-2">
        Model:
        <span class="text-primary">
            {{vehicle.model}}
        </span>
    </h6>
    <h6 class="text-secondary mb-2">
        Licence:
        <span class="text-primary">
            {{vehicle.licence}}
        </span>
    </h6>
    <h6 class="text-secondary mb-2">
        Color:
        <span class="text-primary">
            {{vehicle.color}}
        </span>
    </h6>
</div> -->