@import './../shared/styles/variables.scss';
.vehicle-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .vehicle-card {
    width: 30%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    .title{
        color: $primary-color;
    }
  }
}

@media only screen and (max-width: 800px) {
  .vehicle-wrap {
    .vehicle-card {
      padding-top: 40px!important;
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }
  }
}
