agm-map {
  height: 100vh;
  width: 100vw;
}

.search-box {
  position: absolute;
  top: 30px;
  left: 60px;
  z-index: 1;
  input {
    padding: 10px 20px;
    width: 500px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  fa[name="search"] {
    color: rgb(156, 155, 155);
  }
}

.instruction {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
}



@media only screen and (max-width: 800px) {
  .search-box {
    top: 60px;
    left: 10px;
    input {
      width: calc(100vw - 20px);
    }
  }
  .instruction {
    bottom: 10px;
    left: 10px;
    width: calc(100vw - 20px);
    white-space: pre-wrap;
  }
}