<div class="menu-icon" (click)="onMenuIconClick()">
    <fa name="bars"></fa>
</div>

<div class="side-menu" *ngIf="showMenu">
    <div class="menu">
        <img src="assets/logo.svg" width="100px" class="mb-3">
        <div class="menu-item" routerLinkActive="active">
            <a routerLink="/home" >Home</a>
        </div>
        <div class="menu-item" routerLinkActive="active">
            <a routerLink="/vehicle" >Vehicles</a>
        </div>
        <div class="close-menu-btn" (click)="onMenuIconClick()  ">
            <fa name="times"></fa>
        </div>
    </div>
</div>