<app-menu></app-menu>
<div class="search-box input-prepend">
       <input placeholder="Search location"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="off"
              type="text"
              #search
              [formControl]="searchControl">
       <fa name="search"></fa>
</div>

<agm-map [latitude]="currentGeoLocation.latitude"
         [longitude]="currentGeoLocation.longitude"
         [zoom]="17">
       <div *ngFor="let parkingSpace of parkingSpaces">
              <agm-marker [latitude]="parkingSpace.address.geoLocation.latitude"
                          [longitude]="parkingSpace.address.geoLocation.longitude"
                          (markerClick)="parkingSpaceSelected(parkingSpace)"></agm-marker>

       </div>
</agm-map>

<app-parking-space *ngIf="showSpaceDetails"
                   [parkingSpace]="selectedParkingSpace"
                   (onAddingParkingSpace)="onAddingParkingSpace($event)"
                   (onDetailsClose)="showSpaceDetails = false"></app-parking-space>